* { 
	margin: 0; 
	padding: 0; 
	box-sizing:border-box;
}

body { 
	font: 87.5%/1.5em sans-serif;
	color: #eee;
	text-shadow: 0 -1px 0 black;
}

p { 
	margin-bottom: 1.5em;
}

p:last-child { 
	margin-bottom: 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
	color:#0CF;
}

h4 {
	font-size: 1.25em;
	line-height: 1.2em;
	margin-bottom: 1.2em;
	color:#0CF;
}

article {
    margin: 2em auto;
    position: relative;
	display:box;
    max-width: 60em;
    width: 90%;
	background: #222;
	
	box-shadow: 2px 8px 10px rgba(0,0,0,.35);
}


section {
    margin: 0 2.5%;
    padding: 1.5em 0;
	box-flex:1;
	column-count:2;
}


aside {
    margin: 0 2.5%;
    padding: 1.5em 0;
	box-flex:2;
}


@media all and (max-width: 33em) { 
    
    article {
    	box-orient:vertical;
    }
	
	section {
		column-count:1;	
	}
	
	h3, h4 {
		color:#0F0;
	}
	
}